.forecast{
    width: 10vh;
    height: 10vh;
    padding: 2em;
    background-color: lightblue;
    margin: 2em;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}